:root {
  --first-color: #212121;
  --second-color: #ffffff;
  --third-color: #2196f3;
  --fourth-color: #000000;
  --fifth-color: #757575;
  --sixth-color: #2f303a;
  --seventh-color: #f5f4fa;
  --hero-button-color: #188ce8;
  --soc-icon-color: #afb1b8;
  --soc-icon-color-focushover: #ffffff;
  --soc-icon-bg-focushover: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  margin-left: 0;
  padding: 0;
}

.header-item.current {
  color: var(--third-color);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--first-color);
  background-color: var(--second-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 2px solid red;*/
}

/*----header----*/

.container-header {
  align-items: center;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header > .container-header {
  display: flex;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  margin-left: auto;
  display: flex;
  gap: 50px;
}

.header-link,
.header-mailtel {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.mailtel-soc-icon {
  fill: currentColor;
  margin-right: 10px;
}

/*
.header-item-mailtel:not(:last-child) {
  margin-right: 50px;
}
*/

/*
.header-item-mailtel {margin-left: 50px;}
*/

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo:hover,
.header-logo:focus,
.web {
  color: var(--third-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--third-color);
}

.list {
  list-style: none;
}

.current {
  color: var(--third-color);
}

.active {
  position: relative;
}

.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--soc-icon-bg-focushover);
  bottom: 0;
  left: 0;
}

.header-mailtel {
  display: flex;
  font-weight: 500;
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--fifth-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mailtel:hover,
.header-mailtel:focus {
  color: var(--third-color);
}

/*---hero---*/

.hero {
  background-color: var(--sixth-color);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/img-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-logo {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-color);
  text-align: center;
  max-width: 696px;
  margin: auto;
}

.hero-btn {
  padding: 10px 32px 10px 32px;
  margin: 32px auto 0;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  color: var(--second-color);
  background-color: var(--third-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hero-button-color);
  color: var(--second-color);
}

/*--benefits--*/

.container-benefits-icon {
  display: flex;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-hed {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fifth-color);
  margin-top: 10px;
}

.benefits-item {
  max-width: 270px;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-list {
  display: flex;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*---prices---*/

.prices-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--first-color);
  text-align: center;
  margin-bottom: 50px;
}

.prices-list {
  display: flex;
  gap: 30px;
}

.prices {
  padding-bottom: 94px;
}

.prices-item {
  position: relative;
}

.prices-top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  background: rgba(47, 48, 58, 0.8);
}

/*----team----*/

.team {
  background-color: var(--seventh-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-item {
  background-color: var(--second-color);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--first-color);
  text-align: center;
  margin-bottom: 50px;
}

.team-participant {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 10px;
}

.participiant-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.participiant-soc-icon {
  fill: var(--soc-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.participiant-soc-link:hover,
.participiant-soc-link:focus {
  background-color: var(--soc-icon-bg-focushover);
}

.participiant-soc-link:hover .participiant-soc-icon,
.participiant-soc-link:focus .participiant-soc-icon {
  fill: var(--soc-icon-color-focushover);
}

.participiant-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-text {
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--fifth-color);
  margin-bottom: 15px;
}

.container-text-team {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list {
  display: flex;
  gap: 30px;
}

/*customers*/

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.customers-list {
  display: flex;
  gap: 30px;
}

.customers-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
}

.customers-link {
  border: 1px solid var(--soc-icon-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: var(--soc-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--soc-icon-bg-focushover);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--soc-icon-bg-focushover);
}

/*---footer---*/

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo:hover,
.footer-logo:focus,
.web-f {
  color: var(--third-color);
}

.footer {
  background-color: var(--sixth-color);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

.footer-adress-block {
  width: 231px;
  margin-right: 70px;
}

.footer-soclinks-block {
  margin-right: auto;
}

/*footer soc*/
.footer-soc {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  margin-bottom: 20px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
  fill: var(--second-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--soc-icon-bg-focushover);
}

.footer-soc-link:hover .footer-soc-icon,
.footer-soc-link:focus .footer-soc-icon {
  fill: var(--soc-icon-color-focushover);
}

.footer-soc-list {
  display: flex;
  gap: 10px;
}

.adress {
  font-style: normal;
  margin-top: 20px;
}

.adress-link-one {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-link-one:hover,
.adress-link-one:focus {
  color: var(--third-color);
}

.adress-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-link:hover,
.adress-link:focus {
  color: var(--third-color);
}

.adress-item {
  margin-top: 9px;
}

/*---portfolio---*/

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn-portfolio-wse {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  color: var(--second-color);
  background-color: var(--third-color);
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio-wse:hover,
.btn-portfolio-wse:focus {
  background-color: var(--third-color);
  color: var(--second-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  color: var(--first-color);
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: var(--third-color);
  color: var(--second-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-desc {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--fifth-color);
}

.portfolio-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.portfolio-list-item {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.item-button:not(:last-child) {
  margin-right: 8px;
}

.portfolio-item-container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-link:hover .portfolio-top-text,
.portfolio-link:focus .portfolio-top-text {
  transform: translateY(0%);
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--second-color);
  padding: 63px 24px 0 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(360deg);
}

.modal {
  border-radius: 4px;
  background-color: #ffffff;
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-tittle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 44px;
  outline: none;
  transition: border-color 250ms;
}

/* .modal-input:hover, */
.modal-input:focus {
  border-color: var(--soc-icon-bg-focushover);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms;
}

/* .modal-input:hover + .input-icon, */
.modal-input:focus + .input-icon {
  fill: var(--soc-icon-bg-focushover);
}

.modal-input::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-text::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-field-comments {
  margin-bottom: 20px;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  display: block;
  transition: border-color 250ms;
}

/* .modal-text:hover, */
.modal-text:focus {
  border-color: var(--soc-icon-bg-focushover);
}

.input-wrap {
  position: relative;
}

.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--first-color);
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  fill: transparent;
  transition: fill 250ms;
}

.modal-check:checked + .check-text span {
  background-color: var(--soc-icon-bg-focushover);
  border: none;
}

.modal-check:checked + .check-text .check-icon {
  fill: var(--soc-icon-color-focushover);
}

.modal-check:focus + .check-text span {
  border-color: var(--soc-icon-bg-focushover);
}

.check-text-termes {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.check-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 0.89;
  letter-spacing: 0.03em;
  color: var(--third-color);
  border-bottom: 1px solid currentColor;
}

.button-close {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.check-submit {
  padding: 10px 55px 10px 55px;
  margin: 0 auto 0;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  color: var(--second-color);
  background-color: var(--third-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-submit:hover,
.check-submit:focus {
  background-color: var(--hero-button-color);
  color: var(--second-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.icon-close {
  transition: fill 250ms;
}

.button-close:hover .icon-close,
.button-close:focus .icon-close {
  fill: var(--soc-icon-bg-focushover);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.footer-input-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  margin-bottom: 20px;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  transition: border-color 250ms;
}

.footer-input-field {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
}

.footer-input-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: auto;
  padding-left: 29px;
  padding-right: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  color: var(--second-color);
  background-color: var(--third-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input-btn:hover,
.footer-input-btn:focus {
  background-color: var(--hero-button-color);
  color: var(--second-color);
}

.footer-input-icon {
  fill: var(--second-color);
}

.footer-input-wrap {
  display: flex;
  gap: 12px;
}
